// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url("http://i.imgur.com/ExWURno.png"); 
  background-color: snow;
  list-style-type: none;
  background-attachment: fixed;
  text-align: center;
  font-family: cursive;
}

ul, menu, dir{
  list-style-type: none;
  font-family: cursive;
}

.top-bar-section ul li {
  background: #6B1229;
  margin: 0 auto;
  font-family: cursive;
}

li.has-dropdown not-click {
  background: #6B1229;
}

.field {
  text-align: center;
}

.top-bar {
  height: 75px;
  background: #6B1229;
  margin: 0px;
  font-family: cursive;
}

.right li {
  text-align: center;
  color: snow;
  position: center;
}

.logo img{
  border: none;
  margin: 75px;
  height: 185px;
  width: 100px
}

.title {
  font-family: cursive;
  font-size: 50px;
}

.description {
  font-family: fantasy;
  font-size: 25px;
}

.info {
  font-family: fantasy;
}

.orbit-container .orbit-slides-container img {
  width: 100%;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 275px;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;

}

.orbit-container {
  height: 300px;
  margin: 0px;
  border-bottom: 4px solid #6B1229;
}

.orbit-slides-container {
  position: relative;
  height: 200px;
  margin: 0;
}










