// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  // background-image: url("http://i.imgur.com/7j7XZ5u.jpg"); 
  background-color: snow;
  background-size: 100%;
  list-style-type: none;
  background-attachment: fixed;
  text-align: center;
}
ul, menu, dir{
  list-style-type: none;
}