// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url("http://i.imgur.com/ExWURno.png"); 
  background-color: snow;
  list-style-type: none;
  background-attachment: fixed;
  text-align: center;
}

ul, menu, dir{
  list-style-type: none;
}

.top-bar-section ul li {
  background: #6B1229;
}

.has-dropdown not-click {
  background: #6B1229;
}

.field {
  text-align: center;
}

.top-bar {
  height: 75px;
  background: #6B1229;

}

.right {
  text-align: center;
  color: snow;
  position: center;
}

.logo {
  height: 2px
}